body{
    background-color: rgb(125, 190, 190);
}

div {
    width: 150px;
    height: 150px;
    background-color: rgb(118, 127, 203);
    border: solid medium black;
    box-shadow: 5px 5px 5px grey;
    border-radius: 35px;
    padding: 25px;
    margin: 15px;
}

.box1 {
    background-color: rgb(228, 146, 190);
    height: 400px;
    float: left;
}

.box2, .box3 {
    float: right;
}

.container {
    width: 500px;
    height: 500px;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;

}

.box1:hover, .box2:hover, .box3:hover {
    color: aquamarine;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
    font-style: italic;
    font-weight: 100;
    color: darkslategray;
    border-bottom: solid thin black;
}

p {
    font-size: 16px;
    line-height: 100%;
}